*~
*.egg/
*.pyc
*.pyo
*.pyd
*.cpp
*.so
build
\#*\#
.\#*
.coverage
.eggs/
.mypy_cache
_readthedocs_build
/TAGS
/docs/source/reference/**/generated
/tags
*.egg-info/
dist/
htmlcov/
.idea/
.vs/
.cache/
.pytest_cache/
cupy/.data/
cupy/cuda/thrust.h
