[submodule "cupy/_core/include/cupy/jitify"]
	path = cupy/_core/include/cupy/jitify
	url = https://github.com/NVIDIA/jitify.git
[submodule "cupy/_core/include/cupy/cccl"]
	path = cupy/_core/include/cupy/cccl
	url = https://github.com/leofang/cccl.git
