*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
build
\#*\#
.\#*
.coverage
.eggs/
_readthedocs_build
cupy.egg-info/
dist/
htmlcov/
.idea/
cupy/util.cp35-win_amd64.pyd
cupy/cuda/thrust.cp35-win_amd64.pyd
cupy/cuda/runtime.cp35-win_amd64.pyd
cupy/cuda/profiler.cp35-win_amd64.pyd
cupy/cuda/pinned_memory.cp35-win_amd64.pyd
cupy/cuda/nvtx.cp35-win_amd64.pyd
cupy/cuda/nccl.cp35-win_amd64.pyd
cupy/cuda/memory.cp35-win_amd64.pyd
cupy/cuda/function.cp35-win_amd64.pyd
cupy/cuda/driver.cp35-win_amd64.pyd
cupy/cuda/device.cp35-win_amd64.pyd
cupy/cuda/cusparse.cp35-win_amd64.pyd
cupy/cuda/cusolver.cp35-win_amd64.pyd
cupy/cuda/curand.cp35-win_amd64.pyd
cupy/cuda/cudnn.cp35-win_amd64.pyd
cupy/cuda/cublas.cp35-win_amd64.pyd
cupy/core/internal.cp35-win_amd64.pyd
cupy/core/flags.cp35-win_amd64.pyd
cupy/core/core.cp35-win_amd64.pyd
clean.bat
