# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Git
      - id: check-added-large-files
      - id: no-commit-to-branch
        name: "ensure no direct commit to main/vXX branch"
        args: [--branch, "main", --pattern, "v\\d+"]
      - id: check-case-conflict
      # Contents
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-yaml

#  - repo: https://github.com/hhatto/autopep8
#    rev: v2.3.1
#    hooks:
#      - id: autopep8

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff

  - repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.16.6
    hooks:
      - id: cython-lint
        args: ["--max-line-length", "79"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        # Keep in sync with the list in setup.cfg
        files: "^(cupy|cupyx|cupy_backends|.github|.pfnci)/"
        additional_dependencies: [numpy, types-setuptools, types-PyYAML]
      - id: mypy
        name: "mypy (install)"
        files: "^install/"
        args: [--config-file, "install/mypy.ini"]
        additional_dependencies: [numpy, types-setuptools, types-PyYAML]

  - repo: local
    hooks:
      - id: ci-generate
        name: "check CI files are up-to-date (.pfnci/generate.py)"
        files: .pfnci/
        entry: .pfnci/generate.py --dry-run
        pass_filenames: false
        language: python
        additional_dependencies: [PyYAML]
