# Contents of sdist. See also `setup.py`.
recursive-include cupy *.h *.hpp
recursive-exclude cupy *.pyx *.pxd *.pxi
recursive-include cupy_backends *.h *.hpp
recursive-exclude cupy_backends *.pyx *.pxd *.pxi
include cupy_setup_build.py
recursive-include install *.py
recursive-include tests *.py
include LICENSE
include docs/LICENSE_THIRD_PARTY
include docs/source/license.rst
include cupy/cuda/cupy_cufftXt.cu  # for cuFFT callback
include cupy/cuda/cufft.pxd  # for cuFFT callback
include cupy/cuda/cufft.pyx  # for cuFFT callback
